
body {
	padding: 0;
	margin: 0;
	font-family: 'Karia' sans-serif;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.conteiner {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.nav {
	display: flex;
	margin-left: 650px;
	margin-right: 735px;
	
}

.menu {
	display: flex;
	
}

.a {
	text-decoration: none;
	color: #000;
	font-size: 32px;
}

.list {
	display: flex;
	margin-right: 100px;
}

.cart {
	font-size: 32px;
	display: flex;
	margin-right: 20px;
	text-decoration: none;
	color: #000;
	padding: 0 30px;
}

.cart:hover {
	background-color: #f3f3f3;
	height: 130px;
	align-items: center;
}

/*section*/

.main {
	display: flex;
	background: url(../img/header-bg.jpg) no-repeat top/cover;
	flex-direction: row-reverse;
}

.features {
	background-color: #000;
	color: #fff;
}

.text {
	padding-left: 135px;
}

.main_h1 {
	text-transform: uppercase;
	font-size: 40px;
	color: #8b8b8b;
	letter-spacing: 7px;
	margin-top: 40px;
	font-weight: bold;
}

.main_h2 {
	margin-top: 10px;
	font-size: 118px;
	border-bottom: solid 10px;
	margin-right: 450px;
}

.main_p {
	font-size: 28px;
	margin-right: 300px;
	line-height: 40px;
}

.strelka_logo {
	margin-left: 50px;
}

.strelka {
	margin-top: 100px;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 160px;
}

.button_main {
	background-color: #fff;
	height: 215px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: solid 1px #cacaca;
}

.a_button {
	 text-decoration: none;
	 color: #cacaca;
	 font-size: 40px;
}
/*stories*/

.stories {
	display: flex;	
	flex-direction: column;
	align-items: center
}  

.stories_header {
	display: flex;
}

.stories_img {
		display: flex;
		justify-content: center;
}

.stories_img img {
	margin-right: 120px;
}

.stories_video {
	display: flex;
	justify-content: center;
	margin-top: 300px;
}

.stories_video img {
	margin-right: 120px;
}

.stories_h2 {
		font-size: 85px;
		margin-top: 209px;
		margin-right: 450px;

}

.button {
	border: solid 1px #a6a6a6;
	font-size: 40px;
	text-decoration: none;
	color: #a6a6a6;
	height: 135px;
	width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 200px;
}

.galka {
	padding-left: 20px;
}

.img_p {
	font-size: 40px;
	font-weight: 900px;
	color: #7f7f7f;
}

.img_p2 {
	font-size: 40px;
	font-weight: 900px;
	color: #1f1f1f;
}

