* {
	margin: 0;
	padding: 0;
	font-family: 'Karla', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	/*background: linear-gradient(90deg, #f6f6f6 50%,#fff 50%);
*/
}

/*меню*/
.header {
	display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.logo img {
	height: 80px;
}

.menu {
	display: flex;

}

.menu ul {
	list-style: none;
	display: flex;
}

.menu-link {
	text-decoration: none;
	color:#616161;
	font-size: 1rem;
	margin-right: 30px;
}

.header-butt {
	display: flex;
	align-items: center;
}

.header-butt  img{
	height: 20px;
	margin-right: 20px;
}

/*главная*/

.main {
	background: url(../img/header-bg.jpg) no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	color: #fff;
}

.block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #1f1f1f;
	width: 30%;	
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 50px;
}

.text span {
	color: #8b8b8b;
	text-transform: uppercase;
	letter-spacing: 10px;
	padding-top: 60px;
	font-size: 13px;
}

.text h1 {
	display: inline-block;
	width: 50px;
	border-bottom: 4px solid #fff;
	padding: 20px 100px 20px 0; 
	font-size:  45px;
}

.text p {
	width: 250px;
	text-align: left;
	padding-top: 20px;
}

.text a {
	text-decoration: none;
	color:#fff;
	font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 80px;
}	

.text-img {
	height: 12px;
	margin-left: 30px;
	margin-top: 20px;
}

button:focus{
    outline: none;
}

.button-main {
	display: flex; 
}

.button-main button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	background-color: #fff;
	border:1px solid #a5a5a5;
	padding: 20px 0;
}


.strelka-left {
	margin-right: 10px;
	height: 16px;
}
.strelka-right {
	margin-left: 10px;
	height: 16px;
}

.button-main a {
	font-size: 20px;
	text-decoration: none;
	color: #a5a5a5;
	font-weight: 600;
}

/*Истории*/


.storis {

	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

.storis-header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 90%;
	margin-bottom: 50px;
}

.storis-h1 {
	margin-right: 420px;
}

.storis-butt {
	border: 1px solid #a5a5a5;
	padding: 15px;
	width: 105px;
}

.storis-butt-link {
	text-decoration: none;
	color: #a5a5a5;
	font-size: 15px;
}

.storis-butt-link-img {
	margin-left: 10px;
	height: 10px;

}

.storis-img {
	display: flex;
	justify-content:space-between;
	width: 90%;
}

.img {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.img_p {
	color: #7f7f7f;
	font-size: 18px;
	display: flex;
	margin-top: 10px;
}


.img_p img {
	height: 18px;
	margin-right: 15px;
}

.img_p2 {
	font-weight: 600;
	font-size: 18px;
	margin-top: 10px;
}

.img_p2 img {
	height: 20px;
	margin-left: 40px;
}

.img-1 {
	width: 100%;
}

.storis-video 	{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin-top: 20px;
	margin-bottom: 80px;
}

.video {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background: url(../img/stories4.jpg) center no-repeat;
	background-size: cover;
	width: 65%; 
}

.left-block {
	display: flex;
	flex-direction: column;
	height: 150px;
	justify-content: space-around;
	margin-left: 100px;
	margin-bottom: 50px;
}

.left-block-img {
	width: 60px;
	margin-bottom: 20px;
}

.left-text {
	font-size:  25px;
	color: #95908a;
	letter-spacing: 10px;
	text-transform:uppercase;
}

.left-text-p {
	font-size: 70px;
	color: #fff;
}

.right-block {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	font-size: 30px;
	color:#fff;
	margin-right: 60px;
}

.right-block-img {
	height: 15px;
	margin-left: 30px;
}

/*пост*/

.posters {
	background-color: #1f1f1f;
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 70px;
}

.posters-item {
	width: 90%;
	margin-top: 100px;
}

.posters-content {
	display: flex;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 100px;
}

.posters-img {
	background: url(../img/posters-img.jpg) center no-repeat;
	background-size: cover;
	width: 60%;
	height: 600px;
}

.posters-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.poster-nav {
	margin-top: 30px;
	margin-bottom: 30px;
}

.posters-txt {
	margin-left: 100px;
}

.posters-list {
	list-style: none;
	line-height: 75px;
}

.posters-link {
	text-decoration: none;
	font-size: 30px;
	color:#fff;
}

.posters-butt {
	width: 200px;
}

/*подписки*/

.Subscription {
	
}

.magazine {
	background: url(../img/bg-Subscription.jpg) center no-repeat;
	background-size: cover;
	padding-top: 100px;
    padding-bottom: 100px;
	
}

.magazine-title {
	text-align: center;
}

.magazine-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.issue {
	width: 400px;
}

.img1 {
	height: 350px;
	width: 300px;
	margin-right: 50px;

}

.img2 {
	height: 450px;
	width: 350px;
	margin-right: 50px;
}

.issue-h1 {
	font-size: 22px;
}

.issue-h2 {
	font-size: 50px;
}

.issue-btn {
	text-decoration: none;
	color: #a5a5a5;
	font-size: 20px;
	font-weight: bold;
	background-color: #000;
	padding: 20px;
}

.btn-issue {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.dylan {
	display: flex;
	background: url(../img/bg-dyian.jpg) no-repeat;


}

.dylan-text {

	width: 400px;
	background-color: #000;
}
