
body {
	padding: 0;
	margin: 0;
	font-family: 'Karia' sans-serif;
}

.conteiner {
	width: 1980px;
	display: flex;
	align-items: center;
}

.nav {
	display: flex;
	
}

.menu {
	display: flex;
	
}

.a {
	text-decoration: none;
	color: #000;
	font-size: 32px;
}

.list {
	display: flex;
	margin-right: 87px;
}

.cart {
	font-size: 32px;
	display: flex;
}

.basket {
	margin-bottom: 13px;
	margin-left: 20px;
	font-size: 32px;
}